{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Estilos Css-->
    <link rel="stylesheet" href="{% static 'home/styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/about.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/experience.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/conocimientos.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/servicios.css' %}">
    <title>Portfolio | Dani-Dev</title>
    <!--Fuentes y iconos-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{% static 'home/img/tucan.png'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akronim&family=Amatic+SC:wght@400;700&family=Bahiana&family=Barlow:wght@400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/fontawesome/fontawesome-free-6.1.1-web/css/all.css'%}">
    <!-- Swiper JS -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />


</head>
<body class="body">

    <!-- Loader Inicio -->

    <!--
    <div id="loader-wrapper">
        <div id="loader"></div>
        
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        
      </div>
      -->


    
    <!------------------Sidebar------------------->
    <div class="sidebar">
        <div class="sidebar-bar">
            <img src="{% static 'home/img/bar.png'%}" class="bars" alt="">
        </div>
        <div class="name-song">
            <p class="text-song">Song Off - Please On</p>
        </div>
    </div>


    <!--Audio-->
    <audio id="song">
        <source src="{% static 'home/songs/lofi.mp3'%}" type="audio/mpeg">
      </audio>

        <!---------------------- MENU ----------------------->
        <nav class="navbar">
            <div class="navbar__cabecera">
                <div class="navbar__cabecera__contenido">
                    <h5 class="navbar__cabecera__contenido__etiqueta">MENU</h5>
                    <h2 class="navbar__cabecera__contenido__nombre change-color">DANIEL GÓMEZ</h2>
                    <h3 class="navbar__cabecera__contenido__subtitulo">Explora LA INNOVACIÓN Y creatividad atravez de un solo clic</h3>
                </div>
                <div class="navbar__cabecera__complementos">

                </div>
            </div>
            <div class="navbar__links">
                <a href="" class="navbar__link__inicio change-color">INICIO</a>
                <a href="" class="navbar__link__acerca change-color">¿QUIEN SOY?</a>
                <a href="" class="navbar__link__servicios change-color">SERVICIOS</a>
                <a href="" class="navbar__link__portafolio change-color">PORTAFOLIO</a>
                <a href="" class="navbar__link__contacto change-color">CONTACTAME</a>
            </div>
            <div class="navbar__copyright">
                <a href="" class="navbar__cv change-color">DESCARGAR CV <i class="fa-solid fa-arrow-pointer"></i></a>
                <p class="navbar__license change-color">@2023 Copyright | Todos los derechos reservados</p>
            </div>
        </nav>

            <!---------------------  SERVICIOS  ---------------------->
            <section class="servicios">
                <i class="fa-solid fa-xmark close-servicios change-color"></i>
                <div class="servicios-container">
                    <div class="servicios-superior">
                        <div class="servicios-superior-contenido">
                            <h5 class="servicios-etiqueta">PORTAFOLIO | SERVICIOS</h5>
                            <h2 class="servicios-titulo change-color">DESCUBRE Y EXPERIMENTA NUESTROS SERVICIOS</h2>
                            <p class="servicios-subtitulo">"Estamos a un clic de distancia para resolver cualquier desafío tecnológico, ¡24/7 para ti!"</p>
                            <div class="servicio-btn">
                                <a href="" class="servicio-btn-invitacion change-color">CONTACTAME <i class="fa-solid fa-user change-color"></i></a>
                                <i class="fa-brands fa-wordpress change-color"></i>
                                <i class="fa-brands fa-angular change-color"></i>
                                <i class="fa-brands fa-react change-color"></i>
                                <i class="fa-brands fa-python change-color"></i>
                            </div>
                        </div>
                        <div class="servicios-superior-imagen">
                            <img src="{% static 'home/img/astro.png'%}" class="astro-service" alt="">
                        </div>
                    </div>
                </div>
                    <div class="servicios-central">
                        <!-- Servicio 1 -->
                        <div class="servicios-box change-color">
                            <div class="ser-sup">
                                <p class="ser-sup-tiquet change-color">ADVANCED</p>
                                <p class="ser-sup-ocu change-color">FULL STACK - WORDPRESS</p>
                            </div>
                            <div class="ser-mid">
                                <h3 class="box-one-service-title ser-mid-title change-color">CREACIÓN DE SITIOS WEBS FUNCIONALES</h3>
                                <hr class="ser-mid-hr change-color">
                                <p class="box-one-service-parr ser-mid-parr">Puedo convertir tus sueños en realidad digital mediante la creación de sitios web únicos en WordPress. También tengo conocimientos avanzados en programación web para crear sitios web decentes y presentables en frontend o backend.</p>
                            </div>
                        </div>
                         <!-- Servicio 2 -->
                         <div class="servicios-box change-color">
                            <div class="ser-sup">
                                <p class="ser-sup-tiquet change-color">ADVANCED</p>
                                <p class="ser-sup-ocu change-color">FULL STACK - WORDPRESS</p>
                            </div>
                            <div class="ser-mid">
                                <h3 class="box-two-service-title ser-mid-title change-color">CREACIÓN DE LANDING PAGES</h3>
                                <hr class="ser-mid-hr change-color">
                                <p class="box-two-service-parr ser-mid-parr">Puedo crear landing pages utilizando código frontend en vanilla o frameworks populares como Angular o React. Sin embargo, mi principal fortaleza radica en crear páginas promocionales utilizando la herramienta de Elementor en WordPress, con la capacidad de resaltar información importante. En resumen, puedo crear landing pages a medida según las necesidades del cliente</p>
                            </div>
                        </div>
                         <!-- Servicio 3 -->
                         <div class="servicios-box change-color">
                            <div class="ser-sup">
                                <p class="ser-sup-tiquet change-color">ADVANCED</p>
                                <p class="ser-sup-ocu change-color">E-COMMERCE - WORDPRESS</p>
                            </div>
                            <div class="ser-mid">
                                <h3 class="box-three-service-title ser-mid-title change-color">CREACIÓN DE TIENDAS WEB</h3>
                                <hr class="ser-mid-hr change-color">
                                <p class="box-three-service-parr ser-mid-parr">Puedo desarrollar y diseñar tiendas e-commerce funcionales y profesionales utilizando herramientas como WooCommerce y plugins complementarios. Implemento métodos de pago, impuestos, inventario y otras funcionalidades necesarias para el éxito de la tienda.</p>
                            </div>
                        </div>
                         <!-- Servicio 4 -->
                         <div class="servicios-box change-color">
                            <div class="ser-sup change-color">
                                <p class="ser-sup-tiquet change-color">ADVANCED</p>
                                <p class="ser-sup-ocu change-color">ACADEMY - WORDPRESS</p>
                            </div>
                            <div class="ser-mid">
                                <h3 class="box-four-service-title ser-mid-title change-color">CREACIÓN DE ACADEMIAS ONLINE</h3>
                                <hr class="ser-mid-hr change-color">
                                <p class="box-four-service-parr ser-mid-parr">Puedo desarrollar y diseñar academias online con métodos de pago, cursos, lecciones y clases utilizando el plugin de LearnDash. Además, implemento un diseño web atractivo y gestiono la plataforma para un funcionamiento óptimo.</p>
                            </div>
                        </div>
                         <!-- Servicio 5 -->
                         <div class="servicios-box change-color">
                            <div class="ser-sup change-color">
                                <p class="ser-sup-tiquet change-color">INTERMEDIUM</p>
                                <p class="ser-sup-ocu change-color">ERRORES - WORDPRESS</p>
                            </div>
                            <div class="ser-mid">
                                <h3 class="box-five-service-title ser-mid-title change-color">SOLUCION DE ERRORES</h3>
                                <hr class="ser-mid-hr change-color">
                                <p class="box-five-service-parr ser-mid-parr">Con mi experiencia en la creación de proyectos en WordPress, puedo solucionar errores internos o externos en su sitio web. Desde problemas dentro de su hosting hasta problemas internos en la interfaz, puedo identificar y solucionar problemas con confianza y eficacia.</p>
                            </div>
                        </div>
                         <!-- Servicio 6 -->
                         <div class="servicios-box change-color">
                            <div class="ser-sup change-color">
                                <p class="ser-sup-tiquet change-color">INTERMEDIUM</p>
                                <p class="ser-sup-ocu change-color">CODIGO PURO</p>
                            </div>
                            <div class="ser-mid">
                                <h3 class="box-six-service-title ser-mid-title change-color">CREACION DE SITIOS WEB</h3>
                                <hr class="ser-mid-hr change-color">
                                <p class="box-six-service-parr ser-mid-parr">Aunque tengo poca práctica en el código puro, he desarrollado páginas altamente elogiadas por mis tutores, lo que me ha dado la confianza para cumplir cualquier función tanto en el frontend como en el backend.</p>
                            </div>
                        </div>
                    </div>
            </section>

            <!------------------  CONOCIMIENTOS   ------------------->
            <article class="conocimientos">
                <i class="fa-solid fa-xmark close-conocimientos change-color"></i>
                <div class="conocimientos-container">
                    <h5 class="conocimientos-etiqueta">HABILIDADES | PORTAFOLIO</h5>
                    <h2 class="conocimientos-titulo change-color">CONOCIMIENTOS</h2>
                    <p class="conocimientos-subtitulo">Observa mis conocimientos y mis fortalezas en cada tecnologia</p>
                    <div class="conocimientos-lenguajes">
                        <h4 class="conocimientos-lenguajes-titulo change-color">"LENGUAJES Y TECNOLOGIAS"</h4>
                        <div class="conocimientos_lenguajes_container">
                          <!-- Swiper -->
                            <div class="swiper change-color mySwiper">
                                <div class="swiper-wrapper">
                                    <!--Wordpress-->
                                     <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">EXPERT</p>
                                            <p class="info-sup-num change-color">00</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-brands fa-wordpress change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">WORDPRESS</h5>
                                            <p class="info-inf-parr parr-wordpress">Domino WordPress y puedo crear grandes proyectos y funcionalidades con esta plataforma.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">MANAGER</p>
                                            <i class="fa-brands fa-wordpress info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                    <!--Html-->
                                <div class="swiper-slide change-color">
                                    <div class="info-box-sup">
                                        <p class="info-sup-text change-color">ADVANCED</p>
                                        <p class="info-sup-num change-color">01</p>
                                    </div>
                                    <div class="info-box-center change-color">
                                        <i class="fa-brands fa-html5 change-color"></i>
                                    </div>
                                    <div class="info-box-inf">
                                        <h5 class="info-inf-title change-color">HTML</h5>
                                        <p class="info-inf-parr parr-html">Controlo la creación de código ordenado, gestiono nombres eficazmente y conozco etiquetas clave.</p>
                                    </div>
                                    <div class="info-box-tiquet change-color">
                                        <p class="info-tiquet-one">layout</p>
                                        <i class="fa-solid fa-code info-tiquet-icon"></i>
                                    </div>
                                </div>
                                    <!--Css-->
                                    <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">ADVANCED</p>
                                            <p class="info-sup-num change-color">02</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-brands fa-css3 change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">CSS</h5>
                                            <p class="info-inf-parr parr-css">Creo y Diseño Código reutilizable 100%, variables para todo y diseño moderno dominado.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">Design</p>
                                            <i class="fa-solid fa-palette info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                    <!--Javascript-->
                                    <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">ADVANCED</p>
                                            <p class="info-sup-num change-color">03</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-brands fa-js change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">JS</h5>
                                            <p class="info-inf-parr parr-js">Utilizo JavaScript de forma controlada, propiedades, funciones y eventos utilizados con habilidad.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">Logic</p>
                                            <i class="fa-brands fa-js info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                    <!--Python-->
                                    <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">ADVANCED</p>
                                            <p class="info-sup-num change-color">04</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-brands fa-python change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">PYTHON</h5>
                                            <p class="info-inf-parr parr-python">Uso Python de forma decente, aprendo rápido y lo aplico para el desarrollo en Django.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">FrameWork</p>
                                            <i class="fa-brands fa-python info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                    <!--Angular-->
                                    <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">INTERMEDIATE</p>
                                            <p class="info-sup-num change-color">05</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-brands fa-angular change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">ANGULAR</h5>
                                            <p class="info-inf-parr parr-angular">Angular manejado bien, servicios, rutas y manejo de modelos implementados eficazmente.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">FrameWork</p>
                                            <i class="fa-solid fa-terminal info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                    <!--React-->
                                    <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">INTERMEDIATE</p>
                                            <p class="info-sup-num change-color">06</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-brands fa-react change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">REACT</h5>
                                            <p class="info-inf-parr parr-react">Sé utilizar React de forma decente, aprendo rápido y mi fortaleza es el uso de useState.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">Bookshop</p>
                                            <i class="fa-brands fa-react info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                    <!--Django-->
                                    <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">INTERMEDIATE</p>
                                            <p class="info-sup-num change-color">07</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-solid fa-laptop change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">DJANGO</h5>
                                            <p class="info-inf-parr parr-django">Utilizo Django de forma decente, aprendo rápido y mi aspiración es convertirme en un experto.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">Framework</p>
                                            <i class="fa-solid fa-laptop info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                    <!--Fastapi-->
                                    <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">ESSENTIAL</p>
                                            <p class="info-sup-num change-color">08</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-solid fa-code-merge change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">FASTAPI</h5>
                                            <p class="info-inf-parr parr-fastapi">Conozco FastAPI de manera básica pero deseo profundizar mis conocimientos.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">Framework</p>
                                            <i class="fa-solid fa-code-merge info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                    <!--Node JS-->
                                    <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">ESSENTIAL</p>
                                            <p class="info-sup-num change-color">09</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-brands fa-node-js change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">NODE JS</h5>
                                            <p class="info-inf-parr parr-node">Utilizo Node.js para tareas en la terminal, descarga de contenido, y otras funcionalidades diversas.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">Around</p>
                                            <i class="fa-brands fa-node info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                     <!--Mysql-->
                                     <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">INTERMEDIATE</p>
                                            <p class="info-sup-num change-color">10</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-solid fa-database change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">MYSQL</h5>
                                            <p class="info-inf-parr parr-mysql">Manejo MySQL, puedo crear tablas, establecer relaciones correctamente y realizar consultas efectivas.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">Database</p>
                                            <i class="fa-solid fa-database info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                     <!--MongoDB-->
                                     <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">ESSENTIAL</p>
                                            <p class="info-sup-num change-color">11</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-solid fa-server change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">MONGODB</h5>
                                            <p class="info-inf-parr parr-mongodb">Utilizo MongoDB pero busco mejorar mis habilidades en esta tecnología de bases de datos.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">Database</p>
                                            <i class="fa-solid fa-server info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                     <!--Figma-->
                                     <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">ADVANCED</p>
                                            <p class="info-sup-num change-color">12</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-brands fa-figma change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">FIGMA</h5>
                                            <p class="info-inf-parr parr-figma">Utilizo MongoDB para todos mis diseños, es una herramienta principal para el diseño web.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">Design</p>
                                            <i class="fa-brands fa-figma info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                     <!--Typescript-->
                                     <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">INTERMEDIATE</p>
                                            <p class="info-sup-num change-color">13</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-brands fa-js change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">TYPESCRIPT</h5>
                                            <p class="info-inf-parr parr-typescript">Puedo ejecutar codigo typescript para tipar objetos, manejar la idea y ejecucíon de la tarea</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">Logic</p>
                                            <i class="fa-brands fa-js info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                     <!--SASS Y SCSS-->
                                     <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">ADVANCED</p>
                                            <p class="info-sup-num change-color">14-15</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-brands fa-sass change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">SCSS|SASS</h5>
                                            <p class="info-inf-parr parr-sass">Manejo de forma correcta la herencia de clases, el uso de variables y el pre-procesamiento</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">preprocessor</p>
                                            <i class="fa-brands fa-sass info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                      <!--GIT-->
                                     <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">ADVANCED</p>
                                            <p class="info-sup-num change-color">16</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-brands fa-git-alt change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">GIT</h5>
                                            <p class="info-inf-parr parr-git">Tengo habilidades en las principales funcionalidades de Git, como ramas, commits, fusión y clonado</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">version Sistem</p>
                                            <i class="fa-brands fa-git-alt info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                      <!--GITHUB-->
                                      <div class="swiper-slide change-color">
                                        <div class="info-box-sup">
                                            <p class="info-sup-text change-color">ADVANCED</p>
                                            <p class="info-sup-num change-color">17</p>
                                        </div>
                                        <div class="info-box-center change-color">
                                            <i class="fa-brands fa-github change-color"></i>
                                        </div>
                                        <div class="info-box-inf">
                                            <h5 class="info-inf-title change-color">GITHUB</h5>
                                            <p class="info-inf-parr parr-github">Domino las principales funcionalidades de GitHub, repositorios, issues y pull requests.</p>
                                        </div>
                                        <div class="info-box-tiquet change-color">
                                            <p class="info-tiquet-one">version Sistem</p>
                                            <i class="fa-brands fa-github info-tiquet-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="conocimientos-conclusion">En conclusión, tengo experiencia en varias herramientas informáticas, pero destaco en aquellas que han sido relevantes
                    para mi crecimiento profesional, como Angular, Python, React y WordPress.</p>
                </div>
            </article>

            <!------------------  EXPERIENCE   ------------------->
            <section class="experience">
                <i class="fa-solid fa-xmark close-experience change-color"></i>
                <div class="experience-container">
                    <div class="experience-estudios">
                        <h5 class="experience-etiqueta-estudios">PORTAFOLIO | EDUCACIÓN</h5>
                        <h2 class="experience-titulo-estudios change-color">ESTUDIOS</h2>
                        <h3 class="experiencia-subtitulo-estudios">CONOCE MI FORMACIÓN</h3>
                       
                        <div class="experiencia-box">
                            <!--Segunda caja-->
                            <div class="experiencia-cajas change-color">
                                <div class="experiencia-seccion-uno">
                                    <h3 class="experiencia-caja-indice experience-title-one change-color">Bootcamp - Desarrollo web full stack - Programate Academy</h3>
                                    <h4 class="experiencia-caja-fecha change-color">2022 - 2023</h4>
                                </div>
                                <div class="experiencias-cajas-parrafo">
                                    <p class="experiencia-caja-texto experience-text-one">Como egresado de esta formacion tecnologica, me enorgullece haber estado
                                        en este programa de aprendizaje arduo y continuo en el campo de la
                                        tecnología. He dedicado gran parte de mi tiempo a mejorar mis habilidades
                                        y ampliar mis conocimientos en desarrollo web. Me desempeño 
                                        fabulosamente en el manejo de creacion y diseño de interfaces web y
                                        siempre estoy buscando nuevos desafíos y oportunidades para seguir
                                        creciendo profesionalmente. Puedo desempeñarme facilmente tanto en
                                        frontend como en backend.</p>
                                </div>
                            </div>
                            <!--Tercera caja-->
                            <div class="experiencia-cajas change-color experience-box-two">
                                <div class="experiencia-seccion-uno">
                                    <h3 class="experiencia-caja-indice experience-title-two change-color">Cursos - Aprendizaje continuo </h3>
                                    <h4 class="experiencia-caja-fecha change-color">2021</h4>
                                </div>
                                <div class="experiencias-cajas-parrafo">
                                    <p class="experiencia-caja-texto  experience-text-two">He sido fanatico de la tecnologia desde el momento que de niño me propuse
                                    que esto seria lo mio. Una vez acabe mi formación academica empece a aprender autonomamente tecnologias
                                     y gestores de contenido relacionadas al desarrollo web mediante aplicaciones como youtube, crehana, udemy, etc.</p>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <div class="experience-jobs">
                        <h5 class="experience-etiqueta-trabajos">PORTAFOLIO | TRABAJOS</h5>
                        <h2 class="experience-titulo-trabajos change-color">EXPERIENCIA</h2>
                        <h3 class="experiencia-subtitulo-trabajos">CONOCE MI HABILIDAD</h3>
                        
                        <div class="experiencia-box">                    
                            <!-- Tercera Caja-->
                            <div class="experiencia-cajas change-color">
                                <div class="experiencia-seccion-uno">
                                    <h3 class="experiencia-caja-indice experience-title-three change-color">TRADINGBLACK - Desarrollador Wordpress</h3>
                                    <h4 class="experiencia-caja-fecha change-color">2021-2022</h4>
                                </div>
                                <div class="experiencias-cajas-parrafo">
                                    <p class="experiencia-caja-texto  experience-text-three">Tradingblack es una academia online cuyo enfoque son las inversiones financieras, trading, forex,
                                        etc. Mi labor dentro de este negocio fue desarrollar, diseñar y gestionar todo lo nesesario para tener
                                        una academia de cursos en linea. Realizar publicidad y informacion relevante para esta, etc.</p>
                                </div>
                            </div>
                            <!-- Cuarta Caja-->
                            <div class="experiencia-cajas experience-box-two change-color ">
                                <div class="experiencia-seccion-uno">
                                    <h3 class="experiencia-caja-indice experience-title-four change-color">PROGRAMATE ACADEMY - Desarrollador Wordpress</h3>
                                    <h4 class="experiencia-caja-fecha change-color">2023</h4>
                                </div>
                                <div class="experiencias-cajas-parrafo">
                                    <p class="experiencia-caja-texto  experience-text-four">Programate Academy es una escuela de programación inclusiva
                                    y solidaria que forma personas para que puedan desarrollarse en el area TIC. Mi labor dentro de esta academia fue corregir errores
                                    y crear información actualizada dentro de su sitio web, mejorando estetica, llenando contenido, etc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!---------------------- ABOUT ----------------------->
            <article class="about">
                <i class="fa-solid fa-xmark close-about change-color"></i>
                <div class="about-container">
                    <div class="about-left">
                        <h2 class="about-titulo change-color">CON <br> OCE <br> ME!!</h2>
                        <p class="about-parrafo">"La programación web es la base sólida para construir un futuro digital brillante y lleno de oportunidades."</p>
                        <h2 class="about-etiquetas change-color">APRENDE / PROGRAMA / DISFRUTA</h2>
                    </div>
                    <div class="about-center">
                        <div class="about-targeta change-color">
                            <div class="about-targeta-container change-color">
                                <img class="about-targeta-img change-color" id="myImage" src="static/home/img/about-img.png" alt="">
                                <a href="" class="about-targetas-titulo change-color">VER PORTAFOLIO</a>
                                <p class="about-targetas-subtitulo change-color">ENCUENTRA MAS INFORMACIÓN SOBRE MIS CONOCIMIENTOS EN MIS PROYECTOS</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-right">
                        <h2 class="about-descripcion-titulo change-color">ACERCA DE MI</h2>
                        <p class="about-descripcion-parrafo">"Soy <strong class="change-color">Daniel Gómez</strong>, tengo <strong class="change-color">19 años</strong> y mi pasión
                        por la <strong class="change-color">programación</strong> y el <strong class="change-color">Diseño</strong> me ha llevado a tener <strong class="change-color">2 años de experiencia</strong>
                        en el campo. Me apasiona la tecnología y me esfuerzo por mejorar mis habilidades en el <strong class="change-color">desarrollo web</strong> día a día,
                        con el objetivo de crear soluciones innovadoras y dejar mi huella en el mundo digital."</p>

                        <div class="about-tabla">
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-ingles change-color">NIVEL DE INGLES</h4>
                                <h5 class="about-tabla-box-texto about-nivel">B2</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-edad change-color">EDAD</h4>
                                <h5 class="about-tabla-box-texto about-edad-actual">19 AÑOS</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-educacion change-color">EDUCACIÓN</h4>
                                <h5 class="about-tabla-box-texto about-tecnico">TECNICA</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-ciudad change-color">CIUDAD</h4>
                                <h5 class="about-tabla-box-texto about-bogota">BOGOTA</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-telefono change-color">TELEFONO</h4>
                                <h5 class="about-tabla-box-texto about-numero">+57 313 393 2455</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-email change-color">CORREO</h4>
                                <h5 class="about-tabla-box-texto about-correo">danigomezlocode@gmail.com</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-afinación change-color">AFINACIÓN</h4>
                                <h5 class="about-tabla-box-texto about-gustos">FRONTEND - WORDPRESS</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-fortalezas change-color">FORTALEZAS</h4>
                                <h5 class="about-tabla-box-texto about-fuerzas">CONSTANCIA - DISCIPLINA - LIDERAZGO</h5>
                            </div>
                        </div>
                        <div class="about-btns">
                            <a href="" class="about-right-btn change-color">MAS INFORMACIÓN</a>
                            <a href="" class="about-right-link change-color  open-experience">VER EXPERIENCIA</a>
                        </div>
                    </div>
                </div>
            </article>
            

        <!----------------------HOME----------------------->

    <section class="inicio">
        <div class="inicio__cabecera">
            <h5 class="inicio__etiqueta change-color">PORTAFOLIO</h5>
            <h2 class="inicio__titulo">MI NOMBRE ES...</h2><br>
            <h1><span class="change-color name__inicio">DANIEL GÓMEZ</span></h1>
            <div class="y-soy">
                <h3 class="inicio__escritura"> y soy</h3>
                <h3><span class="inicio__escritura-profesion change-color">DESARROLLADOR WEB</span></h3>
            </div>
            <div class="inicio__descripcion">
                <h4 class="inicio__descripcion__titulo change-color">"DESCUBRE MIS habilidades: ¡Explora MIS PROYECTOS!"</h4>
                <p class="inicio__descripcion__texto">"¡Hola USUARIO! Me encantaría invitarte a echar un vistazo
                a mis proyectos en mi portafolio web. Será un placer mostrarte mis habilidades y logros. ¡Espero verte allí!"</p>
            </div>
            <a href="" class="inicio__boton change-color">Ver Proyectos <i class="fa-solid fa-arrow-pointer"></i></a>
            <div class="inicio__redes">
                <i class="fa-brands fa-linkedin change-color"></i>
                <i class="fa-brands fa-github change-color"></i>
                <i class="fa-brands fa-whatsapp change-color"></i>
                <i class="fa-brands fa-instagram change-color"></i>
            </div>
        </div>
        <div class="inicio__numeros">
            <div class="inicio__numeros__caja">
                <h4 class="inicio__numeros__caja__dato one change-color"></h4>
                <div class="inicio__numeros__caja__parrafo ">
                    <h4 class="inicio__numeros__titulo inicio__titulo__uno change-color">TECNOLOGIAS ACTUALES</h4>
                    <p class="inicio__numeros__texto inicio__parrafo__uno">Lenguajes, librerias, Frameworks, Gestion de contenido, etc</p>
                </div>
            </div>
            <div class="inicio__numeros__caja">
                <h4 class="inicio__numeros__caja__dato two change-color"></h4>
                <div class="inicio__numeros__caja__parrafo">
                    <h4 class="inicio__numeros__titulo inicio__titulo__dos change-color">AÑOS DE EXPERIENCIA</h4>
                    <p class="inicio__numeros__texto inicio__parrafo__dos">Trabajando y aprendiendo conocimientos web</p>
                </div>
            </div>
            <div class="inicio__numeros__caja">
                <h4 class="inicio__numeros__caja__dato three change-color"></h4>
                <div class="inicio__numeros__caja__parrafo">
                    <h4 class="inicio__numeros__titulo inicio__titulo__tres change-color">PROYECTOS HECHOS</h4>
                    <p class="inicio__numeros__texto inicio__parrafo__tres">desde creación de landing pages, tiendas y academias web.</p>
                </div>
            </div>
        </div>

        <img src="{% static 'home/img/astronauta-two.png'%}" class="inicio__tucan" alt="">
    </section>


        <!--Complementos-->
        <div class="complementos">
            <div class="extensiones">
                <i class="fa-solid fa-volume-xmark point change-color off"></i>
                <div class="color-title">
                    <i class="fa-solid fa-palette color-title-btn point change-color"></i>
                    <div class="title-colors change-color">
                        <i class="fa-solid fa-circle yellow"></i>
                        <i class="fa-solid fa-circle blue"></i>
                        <i class="fa-solid fa-circle red"></i>
                        <i class="fa-solid fa-circle green"></i>
                        <i class="fa-solid fa-circle orange"></i>
                        <i class="fa-solid fa-circle aqua"></i>
                    </div>
                </div>
                <div class="languaje">
                    <a class="languaje-btn point change-color">IDIOMA: ESP</a>
                </div>
            </div>
        </div>
        <div class="sidebar-movil">
            <img src="{% static 'home/img/bar.png'%}" class="bars-movil" alt="">
        </div>

























      <!--Scripts-->
      <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="{% static 'home/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'home/scripts/inicio.js' %}"></script>
    <script src="{% static 'home/scripts/about.js' %}"></script>
    <script src="{% static 'home/scripts/experience.js' %}"></script>
    <script src="{% static 'home/scripts/conocimientos.js' %}"></script>
    <script src="{% static 'home/scripts/servicios.js' %}"></script>
    <script src="{% static 'home/scripts/idiomas.js' %}"></script>
    <script src="{% static 'home/scripts/menu.js' %}"></script>
    <script src="{% static 'home/scripts/sidebar.js' %}"></script>
</body>
</html>