{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Estilos Css-->
    <link rel="stylesheet" href="{% static 'home/styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/about.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/experience.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/navbar.css' %}">
    <title>Portfolio | Dani-Dev</title>
    <!--Fuentes y iconos-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{% static 'home/img/tucan.png'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akronim&family=Amatic+SC:wght@400;700&family=Bahiana&family=Barlow:wght@400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/fontawesome/fontawesome-free-6.1.1-web/css/all.css'%}">
</head>
<body class="body">

    <!-- Loader Inicio -->

    <!--
    <div id="loader-wrapper">
        <div id="loader"></div>
        
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        
      </div>
      -->

    
    <!------------------Sidebar------------------->
    <div class="sidebar">
        <div class="sidebar-bar">
            <img src="{% static 'home/img/bar.png'%}" class="bars" alt="">
        </div>
        <div class="name-song">
            <p class="text-song">Song Off - Please On</p>
        </div>
    </div>


    <!--Audio-->
    <audio id="song">
        <source src="{% static 'home/songs/lofi.mp3'%}" type="audio/mpeg">
      </audio>

        <!---------------------- MENU ----------------------->
        <nav class="navbar">
            <div class="navbar__cabecera">
                <div class="navbar__cabecera__contenido">
                    <h5 class="navbar__cabecera__contenido__etiqueta">MENU</h5>
                    <h2 class="navbar__cabecera__contenido__nombre change-color">DANIEL GÓMEZ</h2>
                    <h3 class="navbar__cabecera__contenido__subtitulo">Explora LA INNOVACIÓN Y creatividad atravez de un solo clic</h3>
                </div>
                <div class="navbar__cabecera__complementos">

                </div>
            </div>
            <div class="navbar__links">
                <a href="" class="navbar__link__inicio change-color">INICIO</a>
                <a href="" class="navbar__link__acerca change-color">¿QUIEN SOY?</a>
                <a href="" class="navbar__link__servicios change-color">SERVICIOS</a>
                <a href="" class="navbar__link__portafolio change-color">PORTAFOLIO</a>
                <a href="" class="navbar__link__contacto change-color">CONTACTAME</a>
            </div>
            <div class="navbar__copyright">
                <a href="" class="navbar__cv change-color">DESCARGAR CV <i class="fa-solid fa-arrow-pointer"></i></a>
                <p class="navbar__license change-color">@2023 Copyright | Todos los derechos reservados</p>
            </div>
        </nav>

            <!------------------  EXPERIENCE   ------------------->
            <section class="experience">
                <i class="fa-solid fa-xmark close-experience change-color"></i>
                <div class="experience-container">
                    <div class="experience-estudios">
                        <h5 class="experience-etiqueta-estudios">PORTAFOLIO | EDUCACIÓN</h5>
                        <h2 class="experience-titulo-estudios change-color">ESTUDIOS</h2>
                        <h3 class="experiencia-subtitulo-estudios">CONOCE MI FORMACIÓN</h3>
                       
                        <div class="experiencia-box">
                            <!--Segunda caja-->
                            <div class="experiencia-cajas change-color">
                                <div class="experiencia-seccion-uno">
                                    <h3 class="experiencia-caja-indice experience-title-one change-color">Bootcamp - Desarrollo web full stack - Programate Academy</h3>
                                    <h4 class="experiencia-caja-fecha change-color">2022 - 2023</h4>
                                </div>
                                <div class="experiencias-cajas-parrafo">
                                    <p class="experiencia-caja-texto experience-text-one">Como egresado de esta formacion tecnologica, me enorgullece haber estado
                                        en este programa de aprendizaje arduo y continuo en el campo de la
                                        tecnología. He dedicado gran parte de mi tiempo a mejorar mis habilidades
                                        y ampliar mis conocimientos en desarrollo web. Me desempeño 
                                        fabulosamente en el manejo de creacion y diseño de interfaces web y
                                        siempre estoy buscando nuevos desafíos y oportunidades para seguir
                                        creciendo profesionalmente. Puedo desempeñarme facilmente tanto en
                                        frontend como en backend.</p>
                                </div>
                            </div>
                            <!--Tercera caja-->
                            <div class="experiencia-cajas change-color experience-box-two">
                                <div class="experiencia-seccion-uno">
                                    <h3 class="experiencia-caja-indice experience-title-two change-color">Cursos - Aprendizaje continuo </h3>
                                    <h4 class="experiencia-caja-fecha change-color">2021</h4>
                                </div>
                                <div class="experiencias-cajas-parrafo">
                                    <p class="experiencia-caja-texto  experience-text-two">He sido fanatico de la tecnologia desde el momento que de niño me propuse
                                    que esto seria lo mio. Una vez acabe mi formación academica empece a aprender autonomamente tecnologias
                                     y gestores de contenido relacionadas al desarrollo web mediante aplicaciones como youtube, crehana, udemy, etc.</p>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <div class="experience-jobs">
                        <h5 class="experience-etiqueta-trabajos">PORTAFOLIO | TRABAJOS</h5>
                        <h2 class="experience-titulo-trabajos change-color">EXPERIENCIA</h2>
                        <h3 class="experiencia-subtitulo-trabajos">CONOCE MI HABILIDAD</h3>
                        
                        <div class="experiencia-box">                    
                            <!-- Tercera Caja-->
                            <div class="experiencia-cajas change-color">
                                <div class="experiencia-seccion-uno">
                                    <h3 class="experiencia-caja-indice experience-title-three change-color">TRADINGBLACK - Desarrollador Wordpress</h3>
                                    <h4 class="experiencia-caja-fecha change-color">2021-2022</h4>
                                </div>
                                <div class="experiencias-cajas-parrafo">
                                    <p class="experiencia-caja-texto  experience-text-three">Tradingblack es una academia online cuyo enfoque son las inversiones financieras, trading, forex,
                                        etc. Mi labor dentro de este negocio fue desarrollar, diseñar y gestionar todo lo nesesario para tener
                                        una academia de cursos en linea. Realizar publicidad y informacion relevante para esta, etc.</p>
                                </div>
                            </div>
                            <!-- Cuarta Caja-->
                            <div class="experiencia-cajas experience-box-two change-color ">
                                <div class="experiencia-seccion-uno">
                                    <h3 class="experiencia-caja-indice experience-title-four change-color">PROGRAMATE ACADEMY - Desarrollador Wordpress</h3>
                                    <h4 class="experiencia-caja-fecha change-color">2023</h4>
                                </div>
                                <div class="experiencias-cajas-parrafo">
                                    <p class="experiencia-caja-texto  experience-text-four">Programate Academy es una escuela de programación inclusiva
                                    y solidaria que forma personas para que puedan desarrollarse en el area TIC. Mi labor dentro de esta academia fue corregir errores
                                    y crear información actualizada dentro de su sitio web, mejorando estetica, llenando contenido, etc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!---------------------- ABOUT ----------------------->
            <article class="about">
                <i class="fa-solid fa-xmark close-about change-color"></i>
                <div class="about-container">
                    <div class="about-left">
                        <h2 class="about-titulo change-color">CON <br> OCE <br> ME!!</h2>
                        <p class="about-parrafo">"La programación web es la base sólida para construir un futuro digital brillante y lleno de oportunidades."</p>
                        <h2 class="about-etiquetas change-color">APRENDE / PROGRAMA / DISFRUTA</h2>
                    </div>
                    <div class="about-center">
                        <div class="about-targeta change-color">
                            <div class="about-targeta-container change-color">
                                <img class="about-targeta-img change-color" id="myImage" src="static/home/img/about-img.png" alt="">
                                <a href="" class="about-targetas-titulo change-color">VER PORTAFOLIO</a>
                                <p class="about-targetas-subtitulo change-color">ENCUENTRA MAS INFORMACIÓN SOBRE MIS CONOCIMIENTOS EN MIS PROYECTOS</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-right">
                        <h2 class="about-descripcion-titulo change-color">ACERCA DE MI</h2>
                        <p class="about-descripcion-parrafo">"Soy <strong class="change-color">Daniel Gómez</strong>, tengo <strong class="change-color">19 años</strong> y mi pasión
                        por la <strong class="change-color">programación</strong> y el <strong class="change-color">Diseño</strong> me ha llevado a tener <strong class="change-color">2 años de experiencia</strong>
                        en el campo. Me apasiona la tecnología y me esfuerzo por mejorar mis habilidades en el <strong class="change-color">desarrollo web</strong> día a día,
                        con el objetivo de crear soluciones innovadoras y dejar mi huella en el mundo digital."</p>

                        <div class="about-tabla">
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-ingles change-color">NIVEL DE INGLES</h4>
                                <h5 class="about-tabla-box-texto about-nivel">B2</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-edad change-color">EDAD</h4>
                                <h5 class="about-tabla-box-texto about-edad-actual">19 AÑOS</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-educacion change-color">EDUCACIÓN</h4>
                                <h5 class="about-tabla-box-texto about-tecnico">TECNICA</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-ciudad change-color">CIUDAD</h4>
                                <h5 class="about-tabla-box-texto about-bogota">BOGOTA</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-telefono change-color">TELEFONO</h4>
                                <h5 class="about-tabla-box-texto about-numero">+57 313 393 2455</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-email change-color">CORREO</h4>
                                <h5 class="about-tabla-box-texto about-correo">danigomezlocode@gmail.com</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-afinación change-color">AFINACIÓN</h4>
                                <h5 class="about-tabla-box-texto about-gustos">FRONTEND - WORDPRESS</h5>
                            </div>
                            <div class="about-tabla-box change-color">
                                <h4 class="about-tabla-box-titulo about-fortalezas change-color">FORTALEZAS</h4>
                                <h5 class="about-tabla-box-texto about-fuerzas">CONSTANCIA - DISCIPLINA - LIDERAZGO</h5>
                            </div>
                        </div>
                        <div class="about-btns">
                            <a href="" class="about-right-btn change-color">MAS INFORMACIÓN</a>
                            <a href="" class="about-right-link change-color  open-experience">VER EXPERIENCIA</a>
                        </div>
                    </div>
                </div>
            </article>
            

        <!----------------------HOME----------------------->

    <section class="inicio">
        <div class="inicio__cabecera">
            <h5 class="inicio__etiqueta change-color">PORTAFOLIO</h5>
            <h2 class="inicio__titulo">MI NOMBRE ES...</h2><br>
            <h1><span class="change-color name__inicio">DANIEL GÓMEZ</span></h1>
            <div class="y-soy">
                <h3 class="inicio__escritura"> y soy</h3>
                <h3><span class="inicio__escritura-profesion change-color">DESARROLLADOR WEB</span></h3>
            </div>
            <div class="inicio__descripcion">
                <h4 class="inicio__descripcion__titulo change-color">"DESCUBRE MIS habilidades: ¡Explora MIS PROYECTOS!"</h4>
                <p class="inicio__descripcion__texto">"¡Hola USUARIO! Me encantaría invitarte a echar un vistazo
                a mis proyectos en mi portafolio web. Será un placer mostrarte mis habilidades y logros. ¡Espero verte allí!"</p>
            </div>
            <a href="" class="inicio__boton change-color">Ver Protectos <i class="fa-solid fa-arrow-pointer"></i></a>
            <div class="inicio__redes">
                <i class="fa-brands fa-linkedin change-color"></i>
                <i class="fa-brands fa-github change-color"></i>
                <i class="fa-brands fa-whatsapp change-color"></i>
                <i class="fa-brands fa-instagram change-color"></i>
            </div>
        </div>
        <div class="inicio__numeros">
            <div class="inicio__numeros__caja">
                <h4 class="inicio__numeros__caja__dato one change-color"></h4>
                <div class="inicio__numeros__caja__parrafo ">
                    <h4 class="inicio__numeros__titulo inicio__titulo__uno change-color">TECNOLOGIAS ACTUALES</h4>
                    <p class="inicio__numeros__texto inicio__parrafo__uno">Lenguajes, librerias, Frameworks, Gestion de contenido, etc</p>
                </div>
            </div>
            <div class="inicio__numeros__caja">
                <h4 class="inicio__numeros__caja__dato two change-color"></h4>
                <div class="inicio__numeros__caja__parrafo">
                    <h4 class="inicio__numeros__titulo inicio__titulo__dos change-color">AÑOS DE EXPERIENCIA</h4>
                    <p class="inicio__numeros__texto inicio__parrafo__dos">Trabajando y aprendiendo conocimientos web</p>
                </div>
            </div>
            <div class="inicio__numeros__caja">
                <h4 class="inicio__numeros__caja__dato three change-color"></h4>
                <div class="inicio__numeros__caja__parrafo">
                    <h4 class="inicio__numeros__titulo inicio__titulo__tres change-color">PROYECTOS HECHOS</h4>
                    <p class="inicio__numeros__texto inicio__parrafo__tres">desde creación de landing pages, tiendas y academias web.</p>
                </div>
            </div>
        </div>

        <img src="{% static 'home/img/tucan.png'%}" class="inicio__tucan" alt="">
    </section>


        <!--Complementos-->
        <div class="complementos">
            <div class="extensiones">
                <i class="fa-solid fa-volume-xmark point change-color off"></i>
                <div class="color-title">
                    <i class="fa-solid fa-palette color-title-btn point change-color"></i>
                    <div class="title-colors change-color">
                        <i class="fa-solid fa-circle yellow"></i>
                        <i class="fa-solid fa-circle blue"></i>
                        <i class="fa-solid fa-circle red"></i>
                        <i class="fa-solid fa-circle green"></i>
                        <i class="fa-solid fa-circle orange"></i>
                        <i class="fa-solid fa-circle aqua"></i>
                    </div>
                </div>
                <div class="languaje">
                    <a class="languaje-btn point change-color">IDIOMA: ESP</a>
                </div>
            </div>
        </div>
        <div class="sidebar-movil">
            <img src="{% static 'home/img/bar.png'%}" class="bars-movil" alt="">
        </div>























      <!--Scripts-->
    <script src="{% static 'home/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'home/scripts/inicio.js' %}"></script>
    <script src="{% static 'home/scripts/about.js' %}"></script>
    <script src="{% static 'home/scripts/experience.js' %}"></script>
    <script src="{% static 'home/scripts/idiomas.js' %}"></script>
    <script src="{% static 'home/scripts/menu.js' %}"></script>
    <script src="{% static 'home/scripts/sidebar.js' %}"></script>
</body>
</html>