

/* ------------- INICIO -------------- */

/* Parte Superior */

body{
    background-color: rgb(13, 13, 13);
}

.inicio{
    background-color: rgb(13, 13, 13);
    background-image: url(../img/espacio.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.inicio.active{
    position: absolute;
    left: -300%;
}

.inicio__cabecera{
    padding: 30px 30px 30px 130px;
}

.inicio__etiqueta{
    display: inline-block;
    font-family: 'Amatic SC';
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--yellow);
    color: var(--white);
}


.inicio__titulo{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 80px;
    line-height: 95px;
    text-transform: uppercase;
    color: var(--white);
}

.name__inicio{
    font-family: 'Akronim';
    font-size: 125px;
    font-weight: 400;
    line-height: 40px;
    color: var(--yellow);
}

.inicio__escritura{
    font-family: 'Share Tech Mono';
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--white);
}

.y-soy{
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.inicio__escritura-profesion{
    overflow: hidden;
    position: absolute;
    margin-left: 10px;
    top: 0;
    font-family: 'Share Tech Mono';
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--yellow);
}

.inicio__escritura-profesion::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(42, 42, 42);
    border-left: 2px solid white;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px)
    }
    100%{
        left: 0%;
    }
}

/* Parte media */

.inicio__descripcion__titulo{
    padding-top: 35px;
    font-family: 'Bahiana';
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--yellow);
}

.inicio__descripcion__texto{
    padding-top: 8px;
    width: 500px;
    font-family: 'Amatic SC';
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--white);
}

.inicio__boton{
    display: inline-block;
    margin-top: 40px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid var(--yellow);
    font-family: 'Bahiana';
    font-size: 28px;
    text-decoration: none;
    color: var(--yellow);
    transition: 0.5s ease;
}

.inicio__boton:hover{
    background-color: var(--white);
    color: black;
}

.inicio__boton i{
    margin-left: 10px;
}

.inicio__redes{
    position: absolute;
    top: 30%;
    right: 20%;
    display: flex;
    flex-direction: column;
}

.inicio__redes i{
    margin: 20px 0;
    color: var(--yellow);
    font-size: 25px;
    cursor: pointer;
}

/* Parte Inferior */

.inicio__numeros{
    padding: 30px 0;
    background: rgba(217, 217, 217, 0.08);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio__numeros__caja{
    text-align: center;
    margin: 10px 0;
}

.inicio__numeros__caja__dato{
    margin-bottom: 10px;
    display: inline-block;
    padding: 20px 26px;
    border: 2px solid var(--yellow);
    border-radius: 100px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

.inicio__numeros__caja__dato.two{
    padding: 20px 34px;
}

.inicio__numeros__caja__dato.three{
    padding: 20px 30px;
}


.inicio__numeros__caja__parrafo{
    margin-left: 15px;
}

.inicio__numeros__titulo{
    font-family: 'Bahiana';
    font-weight: 400;
    font-size: 24px;
    color: var(--yellow);
}

.inicio__numeros__texto{
    font-family: 'Amatic SC';
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--white);
}

.inicio__tucan{
    position: absolute;
    width: 400px;
    bottom: 0px;
    right: 25%;
    animation: levitate 3s ease-in-out infinite;
}

@keyframes levitate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }

  
  
  
  

/* ------------- MEDIA QUIERE -------------- */


/* Ajustes al escritorio */

@media screen and (max-width: 1300px){
    .complementos{
        right: 24%;
    }
    .inicio__tucan{
        width: 200px;
        right: 28%;
    }
    .inicio__titulo{
        font-size: 55px;
        line-height: 55px;
    }
    .name__inicio{
        font-size: 80px;
        line-height: 30px;
    }
    .inicio__escritura{
        font-size: 22px;
    }

    .inicio__escritura-profesion{
        font-size: 22px;
    }
    .inicio__redes{
        right: 25%;
    }
    .inicio__numeros__caja__dato.one{
        font-size: 25px;
        padding: 15px 20px;
    }
    .inicio__numeros__caja__dato.two{
        font-size: 25px;
        padding: 15px 28px;
    }
    .inicio__numeros__caja__dato.three{
        font-size: 25px;
        padding: 15px 22px;
    }
}

@media screen and (max-width: 1050px){
    .inicio__tucan{
        width: 200px;
        right: 40%;
    }
    .complementos{
        right: 27%;
    }
    .inicio__redes{
        right: 28%;
    }
}

/* Tablet */
@media screen and (max-width: 930px){
    .inicio__cabecera{
        padding-top: 80px;
    }
    .complementos{
        right: 28%;
    }
    .inicio__tucan{
        width: 200px;
        right: 30%;
    }
    .inicio__titulo{
        font-size: 45px;
    }
    .name__inicio{
        font-size: 60px;
        line-height: 0;
    }
    .inicio__redes{
        right: 30%;
    }
    .inicio__numeros__titulo{
        font-size: 20px;
    }
    .inicio__numeros__texto{
        font-size: 16px;
    }
    .inicio__descripcion__titulo{
        padding-top: 20px;
        font-size: 24px;
    }
    .inicio__descripcion__texto{
        width: 350px;
        font-size: 18px;
    }
}

@media screen and (max-width: 885px){
    .complementos{
        right: 30%;
    }
    .inicio__redes{
        right: 32%;
    }
    .inicio__tucan{
        width: 200px;
        right: 38%;
    }
}

@media screen and (max-width: 825px){
    .complementos{
        right: 32%;
    }
    .inicio__redes{
        right: 34%;
    }
    .inicio__tucan{
        width: 200px;
        right: 38%;
    }
}

@media screen and (max-width: 800px){
    .complementos{
        right: 34%;
    }
    .inicio__redes{
        display: none;
    }
    .inicio__tucan{
        display: none;
    }
}

@media screen and (max-width: 770px){
    .complementos{
        right: 30px;
    }
    .inicio__cabecera{
        padding-top: 40px;
    }
    .inicio{
        text-align: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .inicio__titulo{
        font-size: 40px;
        line-height: 50px;
    }
    .name__inicio{
        font-size: 60px;
    }
    .y-soy{
        justify-content: center;
        margin-right: 150px;
    }

    .inicio__escritura{
        font-size: 22px;
        margin-right: 0;
    }

    .inicio__escritura-profesion{
        font-size: 22px;
    }

    .inicio__boton{
        margin-top: 30px;
    }
    .inicio__numeros{
        display: none;
    }
    .inicio__descripcion__texto{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .complementos{
        right: 15px;
    }
    .inicio__etiqueta{
        margin-bottom: 20px;
    }
    .inicio__cabecera{
        padding: 80px 30px 30px;
    }
    .inicio__titulo{
        font-size: 30px;
        line-height: 20px;
    }
    .name__inicio{
        font-size: 50px;
    }
    .y-soy{
        justify-content: center;
        margin-right: 150px;
    }
    .inicio__escritura{
        font-size: 22px;
    }

    .inicio__escritura-profesion{
        font-size: 22px;
    }
    .inicio__boton{
        margin-top: 25px;
    }
}