.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    background-color: #0B0B0B;
    border-right: 1px solid white;
    overflow: auto;
}

.sidebar .sidebar-bar{
    text-align: center;
    padding: 30px;
    background-color: rgb(70, 70, 70);  
}

.sidebar .sidebar-bar .bars{
    width: 20px;
    cursor: pointer;
}

.sidebar .name-song{
    position: absolute;
    overflow: hidden;
    left: -35px;
    bottom: 125px;
    color: white;
    transform: rotate(-90deg);
}

.sidebar .name-song .text-song{
    white-space: nowrap;
    animation: moving-text 4s linear infinite;
}


@keyframes moving-text {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


.sidebar-movil{
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
}

.sidebar-movil{
    cursor: pointer;
    width: 20px;
}

@media screen and (max-width: 500px){
    .sidebar{
        display: none;
    }

    .sidebar-movil{
        display: block;
    }
}


/* -------------- MENU -------------- */

.complementos{
    position: absolute;
    top: 30px;
    right: 19%;
}

.complementos .extensiones{
    display: flex;
}

.complementos .extensiones .point{
    margin: 0 15px;
    font-size: 25px;
    color: var(--yellow);
    cursor: pointer;
}

/* ----------- LENGUAJE ------------- */
.languaje-btn{
    font-size: 20px;
    font-family: 'Bahiana';
    padding: 5px 10px;
    border: 1px solid var(--yellow);
    border-radius: 10px;
}

/* ------- Colores Extras ---------- */

.yellow{
    color: var(--yellow);
}

.blue{
    color: var(--blue);
}

.red{
    color: var(--red);
}

.orange{
    color: var(--orange);
}

.aqua{
    color: var(--aqua);
}

.green{
    color: var(--green);
}

.change-color.blue{
    color: var(--blue);
    border-color: var(--blue);
}

.change-color.red{
    color: var(--red);
    border-color: var(--red);
}

.change-color.yellow{
    color: var(--yellow);
    border-color: var(--yellow);
}

.change-color.orange{
    color: var(--orange);
    border-color: var(--orange);
}

.change-color.aqua{
    color: var(--aqua);
    border-color: var(--aqua);
}

.change-color.green{
    color: var(--green);
    border-color: var(--green);
}

/* Azul */
.color-title .point.change-color.blue{
    color: var(--blue);
}

.extensiones .point.change-color.blue{
    color: var(--blue);
}

/* Rojo */
.color-title .point.change-color.red{
    color: var(--red);
}

.extensiones .point.change-color.red{
    color: var(--red);
}

/* Naranja */
.color-title .point.change-color.orange{
    color: var(--orange);
}

.extensiones .point.change-color.orange{
    color: var(--orange);
}

/* Amarillo */
.color-title .point.change-color.yellow{
    color: var(--yellow);
}

.extensiones .point.change-color.yellow{
    color: var(--yellow);
}

/* Verde */
.color-title .point.change-color.green{
    color: var(--green);
}

.extensiones .point.change-color.green{
    color: var(--green);
}

/* Aqua */
.color-title .point.change-color.aqua{
    color: var(--aqua);
}

.extensiones .point.change-color.aqua{
    color: var(--aqua);
}

/* ----------- TITULO DE COLOR ----------- */


.title-colors{
    position: absolute;
    top: 50px;
    right: 75px;
    display: none;
    border-radius: 10px;
    background-color: #0B0B0B;
    border: 2px solid var(--yellow);
    padding: 10px;
}

.title-colors.active{
    display: flex;
}

.title-colors i{
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
}

@media screen and (max-width: 730px){
    .sidebar{
        height: 120vh;
    }
    .sidebar .name-song{
        bottom: 205px;
    }
}